/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

checkbox {
  margin-bottom: 4px;
}

img {
  border-radius: 50%;
}

.search-button-container {
  margin-left: 8px;

  button {
    border-radius: 0;
  }
}

.product-icon {
  padding: 16px;
}

.product-details {
  margin-left: 8px;
  padding: 8px;

  h3 {
    line-height: 4px;
  }

  p {
    line-height: 0;
    font-size: 16px;
  }
}
